
NYTimes News.xcodeproj/project.xcworkspace/xcuserdata/nadawoud.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.pbxproj
NYTimes News.xcodeproj/xcuserdata/nadawoud.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
